@model CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Allocate To Employees", "SetLeave", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
    <h3>Number of modifications: @Model.NumberUpdated</h3>
</table>
